# Files and directories created by pub.
.dart_tool/
packages/rpc/.packages

# Conventional directory for build outputs.
build/

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
packages/rpc/pubspec.lock

#File ide
.idea
*.iml
docker/sandbox/bitcoin_dir/regtest/.lock
docker/sandbox/bitcoin_dir/regtest/
docker/sandbox/lightning_dir_one/lightningd-regtest.pid
*.pid
*.txt
*.log
*.info

packages/cln_plugin/cln_dart
